.container
  %br
  = link_to "<< Back", accident_invoice_index_path

  %h1= @invoice.name

  %table.table.table-bordered.common-table.tablesorter#invoice_job_info
    %tbody
      %tr
        %td Job ID
        %td= @invoice.job_id
      %tr
        %td Job Status
        %td= @invoice.job_status
      %tr
        %td Download
        %td= link_to @invoice.invoice_file_name, @invoice.invoice.url
  %br
- if @invoice.extract_finish?

  - if @invoice.can_show_highlight?
    .col-sm-7
      %embed{:height => "800", :src => @invoice.highlight_url, :type => "application/pdf", :width => "100%"} 

  .col-sm-5
    %ul.nav.nav-tabs
      %li= link_to 'Key & Value', '#keyvalue', data: { toggle: 'tab', target: '#keyvalue' }
      %li= link_to 'Tables', '#tables', data: { toggle: 'tab', target: '#tables' }


    .tab-content
      #keyvalue.tab-pane
        %table.table.table-bordered.common-table.tablesorter#key_value_detail_table
          %tbody
            - @invoice.key_values.each do |kv|
              %tr
                %td= kv.key
                %td= kv.value

      #tables.tab-pane
        - @invoice.table_entries.each do |t|
          %table.table.table-bordered.common-table.tablesorter#table_entries_table
            %tbody
              - for row in 1..t.row_count
                %tr
                  - for column in 1..t.column_count
                    %td= t.cell_entries.where(row_index: row, column_index: column).first&.value
          %br
          %br

