!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title McOrcDemo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #content_wrapper
      = render 'layouts/shared/sidenav'
      .main-dashboard
        #mc_header
          = render 'layouts/shared/navbar'
        #main-content-block
          = yield
